/*CSS*/
body {
    font-family: 'Squada One', cursive;
    background-color: #545AA7;
    color: black;
    min-height: 100%;


  }

.header {
    color: black;
    display: flex;
    font-size: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 8px;
    border-radius: 4px;
}

.search{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin-bottom: 5px;
    width: 60%;
    text-decoration: none;
    font-size: 17px;
}

.results{
    background-color: linear-gradient(90deg, rgba(31,225,196,1) 28%, rgba(0,212,255,1) 71%, rgba(92,99,170,1) 96%);
    float: left;
    display: block;
    text-align: start;
    flex-direction: column;
    margin-bottom: 5px;
    width: 60%;
    font-size: 20px;
}

.ulList{
    background-color: linear-gradient(90deg, rgba(31,225,196,1) 28%, rgba(0,212,255,1) 71%, rgba(92,99,170,1) 96%);
    float: left;
    display: block;
    text-align: start;
    flex-direction: column;
    margin-bottom: 5px;
    width: 60%;
    font-size: 20px;
}

.restname{
    font-weight: bold;
}

.restcity{
    font-weight: italic;
}





