/*CSS*/
body {
    font-family: 'Squada One', cursive;
    background-color: #545AA7;
    color: black;
    min-height: 100%;
}

.header {
    color: black;
    display: flex;
    font-size: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 8px;
    border-radius: 4px;
}

.searchInput{
    float: center;
    width: 40%;
    text-align:center;

}

.search{
    float: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin-bottom: 5px;
    width: 60%;
    text-decoration: none;
    font-size: 17px;
}

.results{
    float: center;
}

.list li{
    list-style-type: none;
    color: black;
    padding: 12px;
    margin-top: 12px;
    background: linear-gradient(90deg, rgba(31,225,196,1) 28%, rgba(0,212,255,1) 71%, rgba(92,99,170,1) 96%);
    text-align: center;
    width: 70%;
    flex: 0 1 auto;
  }

.restname{
    font-weight: bold;
}

.restcity{
    font-weight: italic;
}


@media screen and (max-width: 799px) {
    .header {
    text-align: center;
    }
    .search{
    padding: 20px 30px;
    font-size: 20px;
    }
    }


